.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 45px;
  width: 45px;
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
.message__info {
  padding-left: 10px;
}
